@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(..fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-thin;
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: montserrat-medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}


/* basic */

* {
    box-sizing: border-box;
    font-family: montserrat-regular;
}

body {
    margin: 0;
}

.logo {
    height: 20px;
}


/* helpers */

.clear-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}


/* header */

.header {
    background-color: #ff7f00;
    height: 50px;
    align-items: center;
}

header .logo {
    margin-inline-start: 24.5px;
}

.nav ul li a {
    font-size: .9375rem;
    text-decoration: none;
    color: white;
}

.nav {
    margin-inline-end: 50px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}


/* filtering */

.filtering {
    background-color: rgb(248 248 248 / 52%);
    flex-direction: row;
    height: 100px;
}

.filtering form {
    display: flex;
    height: 22px;
    align-self: center;
    margin-inline-start: 50px;
    border-bottom: 1px solid black;
}

.filtering form input {
    background-color: rgb(248, 248, 248);
    font-family: montserrat-medium;
    border: 0;
}

.filtering form input:focus {
    outline: none;
}

.filtering form img {
    height: 15px;
    margin: 0;
    cursor: pointer;
}

.filtering ul {
    gap: 100px;
    margin-inline-start: 220px;
    margin-inline-end: 100px;
}

.filtering ul li {
    cursor: pointer;
    align-self: center;
    font-size: 30px;
}

.more-filters {
    align-self: center;
    margin-inline-end: 100px;
}


/************* main-container /*************/

.main-container {
    background-color: white;
}


/* gallery */

.gallery {
    margin-block-start: 100px;
    margin-block-end: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    gap: 50px;
}

.gallery-image {
    width: 300px;
    cursor: pointer;
}


/* canvas */

.main-canvas {
    margin: 25px 130px 25px 50px;
    gap: 100px;
    justify-content: center;
}

.canvas {
    border: 1px solid black;
}

.control {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
}

.control img {
    width: 60px;
}

.text-input {
    grid-column: 1/span 4;
    font-size: 20px;
}

.font-increase-btn {
    grid-row: 3;
    grid-column: 1;
}

.font-decrease-btn {
    grid-column: 2;
}

.align-left-btn {
    grid-row: 4;
    grid-column: 2;
}

.align-center-btn {
    grid-column: 3;
}

.fonts-selector {
    grid-column: 1 / span 4;
}


/* about-me */

.about-me {
    background-color: rgb(248, 248, 248);
    width: 100%;
    gap: 80px;
    padding: 100px 25%;
}

.my-image {
    width: 300px;
    height: 250px;
    border-radius: 50%;
}

.social-buttons button {
    background-color: #ff7f00;
    padding: 5px;
    width: 50px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.social-buttons button:hover {
    background-color: orange;
}


/* footer */

.footer {
    height: 200px;
    background-color: #ff7f00;
    text-align: center;
}

.footer .logo {
    margin-block-start: 70px;
}

.rights {
    font-family: montserrat-thin;
    margin-block-start: 0;
    font-size: 18px;
    color: white;
    opacity: 0.5;
}