@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(..fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-thin;
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: montserrat-medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}


/* basic */

* {
    box-sizing: border-box;
    font-family: montserrat-regular;
}

body {
    margin: 0;
}

.logo {
    height: 20px;
}


/* helpers */

.clear-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}


/* header */

.header {
    background-color: #ff7f00;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

header .logo {
    margin-inline-start: 24.5px;
}

.nav ul li a {
    font-size: .9375rem;
    text-decoration: none;
    color: white;
}

.nav {
    margin-inline-end: 50px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}


/* filtering */

.filtering {
    background-color: rgb(248 248 248 / 52%);
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.filtering form {
    display: flex;
    height: 22px;
    align-self: center;
    margin-inline-start: 50px;
    border-bottom: 1px solid black;
}

.filtering form input {
    background-color: rgb(248, 248, 248);
    font-family: montserrat-medium;
    border: 0;
}

.filtering form input:focus {
    outline: none;
}

.filtering form img {
    height: 15px;
    cursor: pointer;
}

.filtering ul {
    margin-inline-end: 100px;
    gap: 4rem;
}

.filtering ul li {
    cursor: pointer;
    align-self: center;
    font-size: 1.875rem;
}

.more-filters {
    align-self: center;
    margin-inline-end: 100px;
}


/************* main-container /*************/

.main-container {
    background-color: white;
}


/* gallery */

.gallery {
    margin-block-start: 100px;
    margin-block-end: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    gap: 50px;
}

.gallery-image {
    width: 300px;
    cursor: pointer;
}


/* canvas */

.main-canvas {
    margin: 25px 130px 25px 50px;
    gap: 100px;
    justify-content: center;
}

.canvas {
    border: 1px solid black;
}

.control {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
}

.control img {
    width: 60px;
}

.text-input {
    grid-column: 1/span 4;
    font-size: .8rem;
}

.font-increase-btn {
    grid-row: 3;
    grid-column: 1;
}

.font-decrease-btn {
    grid-column: 2;
}

.align-left-btn {
    grid-row: 4;
    grid-column: 1;
}

.align-center-btn {
    grid-column: 2;
}

.fonts-selector {
    grid-column: 1 / span 4;
}

.font-color-btn {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.mark-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-family: impact;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}

.mark-checkbox input {
    width: 100px;
}


/* about-me */

.about-me {
    background-color: rgb(248, 248, 248);
    width: 100%;
    gap: 80px;
    padding: 100px 25%;
}

.my-image {
    width: 300px;
    height: 250px;
    border-radius: 50%;
}

.social-buttons button {
    background-color: #ff7f00;
    padding: 5px;
    width: 50px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.social-buttons button:hover {
    background-color: orange;
}


/* footer */

.footer {
    height: 200px;
    background-color: #ff7f00;
    text-align: center;
}

.footer .logo {
    margin-block-start: 70px;
}

.rights {
    font-family: montserrat-thin;
    margin-block-start: 0;
    font-size: .888rem;
    color: white;
    opacity: 0.5;
}

@media (max-width:840px) {
    .main-container {
        max-width: 840px;
    }
    /* header */
    .header {
        justify-content: space-between;
    }
    .nav ul {
        gap: 10px;
    }
    /* gallery */
    html {
        font-size: 10px;
    }
    .header {
        /* max-width: 840px; */
        width: 100%;
    }
    /* filtering */
    .filtering {
        max-width: 840px;
        flex-direction: column;
        justify-content: center;
    }
    .filtering form {
        margin-inline-start: 0;
    }
    .filtering ul {
        margin-inline-end: 20px;
    }
    .filtering ul li {
        font-size: 10px;
    }
    /* gallery */
    .gallery {
        margin-block-start: 10px;
        margin-block-end: 10px;
        grid-template-columns: repeat(auto-fill, minmax(130px, 130px));
        gap: 30px;
    }
    .gallery-image {
        width: 130px;
    }
    /* about-me */
    .about-me {
        flex-direction: column;
        padding: 50px 25%;
        gap: 10px;
        text-align: center;
    }
    .my-image {
        margin-inline-start: -20px;
        width: 200px;
        height: 167px;
    }
    .social-buttons button {
        background-color: #ff7f00;
        padding: 5px;
        width: 50px;
        border-radius: 10px;
        border: 0;
        cursor: pointer;
    }
    .social-buttons button:hover {
        background-color: orange;
    }
    /* canvas */
    .main-canvas {
        margin: 25px 130px 25px 50px;
        flex-direction: column;
    }
    .canvas {
        margin: auto;
        width: 330px;
        height: 330px;
    }
    .control {
        margin: 0 20px 0 20px;
    }
    .text-input {
        font-size: 2rem;
    }
    .fonts-selector {
        grid-column: 1/span 5;
        font-size: 2rem;
    }
}

@media (max-width:1300px) {
    .main-container {
        max-width: 1300px;
    }
    html {
        font-size: 13px;
    }
    .filtering {
        justify-content: space-around;
    }
    .filtering ul {
        gap: 1rem;
        margin-inline-start: 20px
    }
    .main-canvas {
        margin: 25px 0 25px 0;
        gap: 50px;
        justify-content: center;
    }
}

@media (max-width:1000px) {
    .main-container {
        max-width: 1000px;
    }
    .main-canvas {
        margin: 25px 0 25px 0;
        gap: 10px;
        justify-content: center;
    }
    .canvar {
        width: 350px;
        height: 350px;
    }
    .control {
        gap: 10px;
    }
    .control img {
        width: 40px;
    }
}